<% provide(:title, @movie.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @movie.name %>
      </h1>
      <h2>
        <%= @movie.length %> mins
        <br>
        <%= @movie.genre %>
        <br> 
        Director: <%= @movie.director %>
        <br>
        Cast: <%= @movie.cast %>
      <h2>
    </section>

    <section>
        <%= render 'shared/review_form' %>
    </section>
    
  </aside>
   <div class="span8">
    <% if @movie.reviews.any? %>
      <h3>Reviews (<%= @movie.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>